asgiref @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_cchykh5sgr/croots/recipe/asgiref_1661287542702/work
blinker==1.4
brotlipy==0.7.0
certifi==2022.6.15
cffi @ file:///C:/Windows/Temp/abs_6808y9x40v/croots/recipe/cffi_1659598653989/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cryptography @ file:///C:/ci/cryptography_1652101729823/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dj-database-url==1.0.0
Django @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_eeor5o9jj8/croots/recipe/django_1661292534510/work
django-heroku @ file:///home/conda/feedstock_root/build_artifacts/django-heroku_1642605802805/work
gunicorn==20.1.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1643507977997/work
Pillow==9.2.0
psycopg2 @ file:///D:/bld/psycopg2-split_1640944746575/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1652398519695/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
python3-openid @ file:///home/conda/feedstock_root/build_artifacts/python3-openid_1612988842750/work
requests @ file:///C:/ci/requests_1657735340829/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1643557462909/work
social-auth-app-django @ file:///home/conda/feedstock_root/build_artifacts/social-auth-app-django_1628277193643/work
social-auth-core @ file:///home/conda/feedstock_root/build_artifacts/social-auth-core_1655125576210/work
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
tzdata @ file:///tmp/build/80754af9/python-tzdata_1611693927741/work
urllib3 @ file:///C:/Windows/TEMP/abs_65ynz4fdmi/croots/recipe/urllib3_1659110473919/work
whitenoise @ file:///home/conda/feedstock_root/build_artifacts/whitenoise_1654461900330/work
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
wincertstore==0.2
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
