<!-- 点数グラフ -->
<canvas id="{{chart_id}}" height="{{height}}px" width="{{width}}px"></canvas>

<script>
  // get score_infos as dict 
  var score_infos = {{ score_infos | safe }}

  // create datasets
  var bgcolors = [
    'rgba(255, 99, 132, 0.6)',
    'rgba(54, 162, 235, 0.6)',
    'rgba(255, 206, 86, 0.6)',
    'rgba(75, 192, 192, 0.6)'
  ]
  var bcolors = [
    'rgba(255, 99, 132, 0.9)',
    'rgba(54, 162, 235, 0.9)',
    'rgba(255,206,  86, 0.9)',
    'rgba( 75,192, 192, 0.9)'
  ]
  var datasets = []
  for(const [i, score_info] of score_infos.score_data.entries()){
    datasets.push(
      {
        label: score_info.name,
        data:  score_info.scores,
        backgroundColor: bgcolors[i],
        borderColor: bcolors[i],
        pointStyle: 'circle',
        pointRadius: 10,
        pointHoverRadius: 15,
      }
    );
  }

  // draw chart
  var ctx = document.getElementById("{{chart_id}}");
  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: score_infos.labels,
      datasets: datasets,
    },
    options: {
      animation: { duration: 2000 },
    },
  });
</script>