{% extends 'nnkr/base.html' %}
{% block content %}

<div class="pt-3">
  <h3 class="text-center">よくあるご質問</h3><hr>
</div>


<dl class="syncer-acdn-faq">
	<dt class="syncer-acdn" data-target="syncer-acdn-05">Q. あなたの名前はなんですか？</dt>
		<dd id="syncer-acdn-05">A. 私の名前はまだありません…。</dd>
	<dt class="syncer-acdn" data-target="syncer-acdn-06">Q. 昨日のご飯はなんでしたか？</dt>
		<dd id="syncer-acdn-06">A. 昨日は「さすけ食堂」で黄金鯵を食べました…。</dd>
	<dt class="syncer-acdn" data-target="syncer-acdn-07">Q. あなたが好きな犬の種類はなんですか？</dt>
		<dd id="syncer-acdn-07">A. ダントツで<a href="https://twitter.com/arayutw/status/631488635871735808" target="_blank">黒柴</a>です。</dd>
	<dt class="syncer-acdn" data-target="syncer-acdn-08">Q. 好きな水族館はどこですか？</dt>
		<dd id="syncer-acdn-08">A. 高知県桂浜にある「桂浜水族館」です。砂浜の中にある独特の景観もいいですし、館内の「手作り感」に親しみを覚えるのです。</dd>
</dl>


<div>
  <div class="container">
    <div class="row">
      <div class="col-12">


        <div class="card my-2 shadow-sm">
          <div class="card-body">
            <h5>Q.画像が小さくて見づらい。</h5>
            画像をクリックすることで拡大表示できます。
          </div>
        </div>

        <div class="card my-2 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Q.問題の削除はできるの？</h5>
            問題画面最下部の問題設定画面から行えます。
            アップロードした画像に問題があった場合などにご利用下さい。
          </div>
        </div>
      
        <div class="card my-2 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Q.スクリーンショットの撮り方が分からない。</h5>
            Chrom + Windowsの場合。まずF11キーで全画面表示に切り替えます。
            その後 WindowsキーとPrt Scキーを同時に押すことで
            C:\Users\ユーザー名\Pictures\Screenshots\ に保存されます。
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}