{% extends 'nnkr/base.html' %}
{% block content %}

<div class="pt-3">
  <h3 class="text-center">よくあるご質問</h3><hr>
</div>

<div>
  <div class="container">
    <div class="row">
      <div class="col-12">


        <div class="card my-2 shadow-sm">
          <div class="card-body">
            <h5>Q.画像が小さくて見づらい。</h5>
            画像をクリックすることで拡大表示できます。
          </div>
        </div>

        <div class="card my-2 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Q.問題の削除はできるの？</h5>
            問題画面最下部の問題設定画面から行えます。
            アップロードした画像に問題があった場合などにご利用下さい。
          </div>
        </div>
      
        <div class="card my-2 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Q.スクリーンショットの撮り方が分からない。</h5>
            Chrom + Windowsの場合。まずF11キーで全画面表示に切り替えます。
            その後 WindowsキーとPrt Scキーを同時に押すことで
            C:\Users\ユーザー名\Pictures\Screenshots\ に保存されます。
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}