{% extends 'nnkr/base.html' %}
{% block title %}雀魂何切る問題一覧{% endblock %}
{% block content %}



<div class="pt-3">
  <h3 class="text-center">問題一覧</h3><hr>
</div>

<div class="album py-1">
  <div class="container">
    <div class="row">

      <!-- 問題一覧ページング -->
      <div class="col-12 col-lg-9"> 

        <!-- ソート機能 -->
        <div>
          {% url 'nnkr:index' as base_url %}
          {% include "nnkr/sort_questions.html" with base_url=base_url %}
        </div>
        
        <!-- 問題一覧 -->
        <div> 
          {% include "nnkr/question_cards.html" with questions=questions %}
        </div>
        <small>※画像クリックで拡大表示</small>

        <!-- ページング -->
        <div class="p-2">
          {% include "nnkr/pagination.html" with page_obj=questions %}
        </div>
      
      </div>

      <!-- 人気タグ -->
      <div class="col-12 col-lg-3">
        <div class="border border-2 bg-gray mb-2 p-1">
          <div class="text-center">
            <h5 style="display:inline-block;">人気タグ</h5>
            <small>(問題数)</small>
          </div>
          {% for tag in tags %}
            <a class="tag-box link-dark-nu shadow-sm" href="{% url 'nnkr:tag_question' tag.id %}">
              <i class="bi bi-tag" style="font-size: 1rem;"></i>
              {{tag.name}}({{tag.questions.all|length}})
            </a>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}