{% for question in questions %}

<!-- Modal -->
<div class="modal fade" id='{{ "imgModal-"|addstr:forloop.counter0 }}' tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-fluid">
    <div class="modal-content">

      <div class="modal-body">
        <a data-bs-dismiss="modal">
          <div id="image" class="as-outer">
            <div class="as-inner">
              <img  class="card-img-top"
                src="{{ question.image.url }}" alt="何切る画像"
                style="width:100%;height:100%;object-fit:contain">
            </div>
          </div>
        </a>

        {% with questions|length|add:-1 as last %}
        {% if last != 0 %}
          {% if forloop.counter0 != 0 %}
            {% with forloop.counter0|add:-1 as prev %}
              <button class="btn-icon" data-bs-target="#{{ 'imgModal-'|addstr:prev }}" data-bs-toggle="modal" data-bs-dismiss="modal">
                <div style="margin:-0.3rem;">
                  <i class="bi bi-arrow-left-circle" style="font-size:1.5rem; color:cornflowerblue;"></i>
                </div>
              </button>
            {% endwith %}
          {% else %}
            <button class="btn-icon" data-bs-target="#{{ 'imgModal-'|addstr:last }}" data-bs-toggle="modal" data-bs-dismiss="modal">
              <div style="margin:-0.3rem;">
                <i class="bi bi-arrow-left-circle" style="font-size:1.5rem; color:cornflowerblue;"></i>
              </div>
            </button>
          {% endif %}

          {% if forloop.counter0 != last %}
            {% with forloop.counter0|add:1 as next %}
              <button class="btn-icon" data-bs-target="#{{ 'imgModal-'|addstr:next }}" data-bs-toggle="modal" data-bs-dismiss="modal">
                <div style="margin:-0.3rem;">
                  <i class="bi bi-arrow-right-circle" style="font-size:1.5rem; color:cornflowerblue;"></i>
                </div>
              </button>
            {% endwith %}
          {% else %}
            <button class="btn-icon" data-bs-target="#{{ 'imgModal-'|addstr:0 }}" data-bs-toggle="modal" data-bs-dismiss="modal">
              <div style="margin:-0.3rem;">
                <i class="bi bi-arrow-right-circle" style="font-size:1.5rem; color:cornflowerblue;"></i>
              </div>
            </button>
          {% endif %}

          <small>{{forloop.counter}} of {{last|add:1}}</small>
          <small>{{question.title}}</small>
        {% endif %}
        {% endwith %}
      </div>

    </div>
  </div>
</div>

<!-- カード -->
<div class="card mb-2 shadow-sm" style="background:#f5f5f5">
  <div class="row">
    
    <!-- 画像 -->
    <div class="col-12 my-auto">
      <div class="as-outer">
        <div class="as-inner">
            <a data-bs-toggle="modal" data-bs-target='{{"#imgModal-"|addstr:forloop.counter0}}' style="cursor:pointer">
            <img  class="card-img-top"
                src="{{ question.image.url }}" alt="何切る画像"
                style="width:100%;height:100%;object-fit:contain">
            </a>
        </div>
      </div>
    </div>

    <!-- その他 -->
    <div class="col-12">
      <div class="card-body">
        <a  class="link-dark-nu" href="{% url 'nnkr:detail' question.id %}">
          <h5 class="card-title" style="display:inline;">{{question.title}}</h5>
        </a>
        <br>

        <div class="d-flex justify-content-between align-items-center">
          <div class="left-aria">
            <small>投票</small>
            {% if question.no_vote %}-{% else %}{{question.votes}}{% endif %}
            <small>コメ</small>
            {{question.comments.all|length}}
            <small>興味深い</small>
            {% if question.rating >= 0 %}+{% endif %}{{question.rating}}
          </div>
          <div class="right-aria">
            <small class="text-muted"><a class="link-dark-u" href="{% url 'user:detail' question.author.id %}">[{{question.author}}]</a></small>
            <small class="text-muted">{{question.created_datetime|date:"y年m月j日H:i"}}</small>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

{% empty %}
問題がありません
{% endfor %}