<details class="mb-2">
  <summary><u><b>
    {% if r %}評価が高い順
    {% elif v %}投票数が多い順
    {% elif o %}投稿順
    {% elif c %}未回答の問題
    {% else %}新着順{% endif %}
  </b></u></summary>
  <div class="border border-4 bg-gray mb-2">
    <div class="bg-white p-2">
      <a href="{% url base_url_name %}?sort=n" class="link-dark-nu">新着順</a><br>
      <a href="{% url base_url_name %}?sort=o" class="link-dark-nu">投稿順</a><br>
      <a href="{% url base_url_name %}?sort=r" class="link-dark-nu">評価が高い順</a><br>
      <a href="{% url base_url_name %}?sort=v" class="link-dark-nu">投票数が多い順</a><br>
      <a href="{% url base_url_name %}?sort=c" class="link-dark-nu">未回答の問題</a><br>
    </div>
  </div>
</details>

