{% extends 'nnkr/base.html' %}
{% load static %}
{% block content %}

<div class="pt-3">
  <h3 class="text-center">『雀魂何切る』へようこそ！</h3><hr>
</div>

<!-- リンク -->
<div class="py-1">
  <!-- 初めての方へ -->
  <button type="button" class="syncer-acdn btn btn-dark shadow m-1" data-bs-toggle="collapse" data-bs-target="#collapseBiginner" aria-expanded="false" aria-controls="collapseBiginner">
    <div class="d-flex align-items-center">
      <img src="{% static 'img/rank/4_1.png' %}" style="max-height:70px;height:auto;margin:-5px;margin-right:0px">  
      <b>初めての方へ</b>
    </div>
  </button>

  <!-- 問題一覧 -->
  <button type="button" class="btn btn-dark shadow m-1"
    onclick="location.href='{% url "nnkr:index" %}'">
    <div class="d-flex align-items-center">
      <img src="{% static 'img/pai/1m.png' %}" style="max-height:70px;margin:-5px;margin-right:10px" class="p-1">  
      <a href="{% url 'nnkr:index' %}" class="link-white-nu"><b>問題一覧</b></a>
    </div>
  </button>

  <!-- ユーザー -->
  <button type="button" class="btn btn-dark shadow m-1"
    onclick="location.href='{% url "user:index" %}'">
    <div class="d-flex align-items-center">
      <div style="max-height:70px;margin:-4px;margin-right:10px">
        <div  style="display:inline-block; vertical-align:top;">
          <div class="icon-frame shadow-sm">
            <div class="icon">
              <img src="{% static 'img/stamp/mikamichiori-4.png' %}">
            </div>
          </div>
        </div>
      </div> 
      <a href="{% url 'user:index' %}" class="link-white-nu"><b>ユーザー</b></a>
    </div>
  </button>

  <!-- FAQ -->
  <button type="button" class="btn btn-dark shadow m-1"
    onclick="location.href='{% url "nnkr:faq" %}'">
    <div class="d-flex align-items-center">
      <div style="max-height:70px;margin:-4px;margin-right:10px">
        <div  style="display:inline-block; vertical-align:top;">
          <div class="icon-frame shadow-sm">
            <div class="icon">
              <img src="{% static 'img/stamp/keikumusume-1.png' %}">
            </div>
          </div>
        </div>
      </div> 
      <a href="{% url 'nnkr:faq' %}" class="link-white-nu"><b>FAQ</b></a>
    </div>
  </button>


  <!-- 上達への道 -->
  {% comment %} <button type="button" class="btn btn-dark shadow m-1">
    <div class="d-flex align-items-center">
      <img src="{% static 'img/icon/icon.png' %}" style="max-height:70px;margin:-5px;margin-right:10px" class="p-1">  
      <b>上達への道</b>
    </div>
  </button> {% endcomment %}
</div>

<!-- 初めての方へアラート -->
<div class="collapse" id="collapseBiginner">
  <div class="alert alert-warning alert-dismissible shadow-sm" role="alert">
    <h4><i class="bi bi-info-circle"></i> 説明</h4>
    <ul>
      <li>当サイトは、雀魂段位戦を想定した立体何切るサイトです。プレイ中の画像をアップロードし、意見交換することができます。</li>
      <li>基本は段位戦を想定していますが、場合によってはその限りではありません。問題に回答する前に出題者の説明をきちんと読みましょう。</li>
      <li>投票・コメントは誰でも行えます(<a href="{% url 'nnkr:index' %}" class="link-dark-u">問題一覧へ</a>)。問題投稿する際は<a href="{% url 'user:login' %}" class="link-dark-u">ログイン</a>をお願いします。メールアドレスは不要です。</li>
      <li>その他よくあるご質問には<a href="{% url 'nnkr:faq' %}" class="link-dark-u">こちら</a>で回答しています。</li>
    </ul>
  </div>
</div>


<div>
  <div class="row">

    <!-- Lobby Chat -->
    <div class="col-lg-7 my-2">
      <div class="p-1 shadow-lg bg-light border border-3  rounded">
        <h5></h5>

        <!-- Form -->
        <div class="comment-form mt-1" >
          <form  action="{% url 'nnkr:create_lobbychat' %}" method="post" class="submit-only-one">{% csrf_token %}
          <div class="container">
            <div class="row">
              <div class="col-md-10 form-group">
                <textarea
                  placeholder="他のユーザーに挨拶しよう！"
                  type="{{chat_form.text.field.widget.input_type}}"
                  class="form-control"
                  {% if chat_form.text.field.required %}required{% endif %}
                  name="{{chat_form.text.name}}"
                  id="{{chat_form.text.id_for_label}}"
                  rows="1"></textarea>
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary" style="width:100%;height:auto">送信</button>
              </div>
            </div>
          </div>
          </form>
        </div>
        <!-- Comments -->
        <div class="comment-box px-2">
          <hr style="margin-top:8px;margin-bottom:0px;">
          {% for chat in chats %}
          <div class="chat-content">
            <div class="mb-3">
              <div>
                <!-- Icon -->
                <div class="p-2" style="float:left; margin-bottom:-11px">
                  <div  style="display:inline-block; vertical-align:top;">
                    <div class="icon-frame shadow-sm">
                      <div class="icon">
                        {% if chat.user %}
                          <img src="{{ chat.user.icon.url }}">
                        {% else %}
                          <img src="{% static 'img/icon/icon_guest.png' %}">
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Info and Like -->
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Info -->
                  <div>
                    {% if chat.user %}
                      <a class="link-dark-u" href="{% url 'user:detail' chat.user.id %}">[{{chat.user}}]</a>
                    {% else %}
                      [名無しさん]
                    {% endif %}
                    <small>
                    {{chat.posted_at|date:"y年m月j日 H:i"}}
                    </small>
                  </div>
                  <!-- Like -->
                  <div class="d-flex align-items-center ms-2">
                    {% with chat.likers.all|length as likers_num %}
                      {% if user in chat.likers.all %}
                        <i class="bi bi-heart-fill" style="color:crimson;"></i>
                        +{{likers_num}}
                      {% else %}
                        <form action="{% url 'nnkr:create_lobbychat_like' chat.id %}" method="post" style="display:inline-block;">{% csrf_token %}
                          <button type="submit" class="btn-icon">
                            <div style="margin:-0.25rem; margin-right:-0.4rem; margin-left:-0.4rem;">
                              <i class="bi bi-heart" style="color:gray;"></i>
                            </div>
                          </button>
                        </form>
                        {% if likers_num > 0 %}
                          +{{likers_num}}
                        {% endif %}
                      {% endif %}
                    {% endwith %}
                  </div>
                </div>

                <!-- Content -->
                <div style="font-size:16px;">
                  {{chat.text | linebreaksbr}}
                  {% if chat.is_updated %}
                    <small style="color:#808080">[{{chat.updated_at|date:"y年m月j日 H:i"}} 編集済] </small>
                  {% endif %}
                </div>

                <!-- Clear float -->
                <div style="clear:left;">
                </div>
              </div>
            </div>
          </div>
          <hr style="margin-top:-10px;margin-bottom:0px;">
          {% endfor %}
        </div>

        <!-- Paging -->
        <div class="mt-3">
          {% include "nnkr/pagination.html" with page_obj=chats %}
        </div>

      </div>
    </div>

    <!-- Right Area -->
    <div class="col-lg-5 my-2">

      <!-- Hot Question -->
      <div class="my-4"> 
          <h5 style="display:inline-block">注目されている問題</h5>
          <small>(画像クリックで拡大)</small>
          <hr style="margin-top:0px">
          {% include "nnkr/question_cards_min.html" with questions=questions %}
      </div>

      <!-- Tweet -->
      <div style="height:500px;">
        <a class="twitter-timeline" data-lang="en" data-height="500"
          data-theme="light"
          href="https://twitter.com/3Dnnkr?ref_src=twsrc%5Etfw">Tweets by 3Dnnkr</a>
      </div>

    </div>
  </div>

</div>
{% endblock %}

