{% extends "nnkr/base.html" %}
{% block content %}

<div class="pt-3">
  <h3 class="text-center"><b>ログイン画面</b></h3><hr>
</div>

<form action="" method="POST">{% csrf_token %}

    <!-- ログイン -->
    <div class="col-md-8 offset-md-2">
        <div class="card shadow">
            <div class="card-body">
                {{ form.non_field_errors }}
                {{ form.username.label }}
                {{ form.username }}
                {{ form.username.error }}

                <div class="row">
                  <div class="col-md-10">
                    {{ form.password.label }}
                    {{ form.password }}
                    {{ form.password.error }}
                  </div>

                  <div class="col-md-2">
                    <button type="submit" class="btn btn-primary btn-lg shadow-sm mt-3" style="width:100%;height:auto">
                      ログイン
                    </button>
                    <!-- ログインが必要なページから飛ばされたとき一時保存 -->
                    <input type="hidden" name="next" value="{{ next }}" />
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Twitterログイン -->
    {% comment %} <div class="card col-md-6 offset-md-3 mt-3">
      <div class="card">
        <div class="card-body">
          <button type="button" class="btn-twitter"
            onclick="location.href='{% url 'social:begin' 'twitter' %}?next={{ next }}'">
            <i class="bi bi-twitter"></i>
            Twitterアカウントでログイン
          </button>
        </div>
      </div>
    </div> {% endcomment %}

    <!-- 新規会員登録 -->
    <div class="card col-md-8 offset-md-2 my-3">
        <a href="{% url 'user:create' %}" class="btn btn-success btn-lg shadow" style="width:100%;height:auto">
          新規ユーザー登録
        </a>
    </div>
</form>

{% endblock %}