{% extends "nnkr/base.html" %}
{% block content %}


<!-- サブヘッダー -->
{% include "user/user_subheader.html" with detail="True" %}


<div class="p-3">
  <div class="p-3 shadow" style="background:aliceblue">

    <h3 class="text-center"><b>{{ target_user.username }}</b></h3><hr>

    <!-- 編集画面 -->
    {% if user == target_user %}
      <div class="accordion mb-2" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" 
              data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
              aria-expanded="false" aria-controls="flush-collapseOne">
              ユーザー設定画面を開く
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
      
              <form action="" method="POST">{% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                  {{ field }} {{ field.errors }}
                {% endfor %}
                <div class="text-center">
                  <button type="submit" class="btn btn-success btn-lg" >
                    編集
                  </button>
                </div>
              </form>
      
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <!-- ユーザー情報 -->
    <div>
      <div>
        ユーザー番号: <b>{{ target_user.id }}</b><br>
        登録日: <b>{{ target_user.date_joined|date:"y年m月j日H時i分s秒"}}</b><br>
        出題数: {{ target_user.question_set.all|length }}<br>
        投票数: {{ target_user.choice_set.all|length }}<br><br>
      </div>
      <div style="font-family:'ＭＳ Ｐゴシック'; line-height:100%;">
        {{ target_user.introduction|linebreaksbr|urlize }}
      </div>
    </div>

    <!-- Twitter -->
    <div class="text-end">
      {% if twitter_login %}
      <div class="box-twitter shadow-sm">
        <i class="bi bi-twitter"></i>
        <a class="link-white-nu" href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/">
          @{{ twitter_login.extra_data.access_token.screen_name }}
        </a>
      </div>
      {% endif %}

      {% if user == target_user %}
      {% if twitter_login %}
        {% if can_disconnect %}
          <form method="post" action="{% url 'social:disconnect' 'twitter' %}"  style="display:inline-block;">
            {% csrf_token %}
            <button type="submit">Twitterの紐付けを解除</button>
          </form>
        {% else %}
          <button type="button" disabled>Twitterの紐付けを解除</button>
          <p style="color:red;">
            紐付けを解除する前には
            <a href="{% url 'user:password' %}">パスワード設定</a>
            を行って下さい。
          </p>
        {% endif %}
      {% else %}
        <div class="text-end">
          <button type="button" class="btn-twitter shadow-sm" style="background:#2bc4ff"
            onclick="location.href='{% url 'social:begin' 'twitter' %}?next={{ next }}'">
            <i class="bi bi-twitter"></i>
            Twitterアカウントを紐付ける
          </button>
        </div>
      {% endif %}
      {% endif %}
    </div>

  </div>
</div>


{% endblock %}