{% extends 'nnkr/base.html' %}
{% block content %}

<div class="py-1">
  <button type="button" class="btn btn-outline-primary shadow mx-1"
    onclick="location.href='{% url "user:detail" target_user.id %}'">プロフィール</button>
  <button type="button" class="btn btn-outline-primary shadow mx-1"
    onclick="location.href='{% url "user:question" target_user.id %}'">出題した問題</button>
  <button type="button" class="btn btn-outline-primary shadow mx-1" disabled="true"
    onclick="location.href='{% url "user:bookmark" target_user.id %}'">ブックマーク</button>
</div>

<div class="pt-3">
<h3 class="text-center"><b>{{ target_user.username }}さんのブックマーク</b></h3><hr>
</div>

<div class="album pb-5">
  <!-- 問題一覧 -->
  <div class="container">
    <div class="row">
      
    {% for question in questions %}
    <div class="col-md-10 offset-md-1 col-sm-12"><!--col-{prefix}-{columns}-->
      
      <!-- Modal -->
      <div class="modal fade" id='{{ "imgModal-"|addstr:forloop.counter }}' tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-fluid">
         <div class="modal-content">
           <div class="modal-body">
             <div id="image" class="as-outer">
               <div class="as-inner">
                 <img  class="card-img-top"
                   src="{{ question.image.url }}" alt="何切る画像"
                   style="width:100%;height:100%;object-fit:contain">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- カード -->
      <div class="card mb-2 shadow-sm">
        <div class="row no-gutters">
          
          <!-- 画像 -->
          <div class="col-md-3 my-auto">
            <div class="as-outer">
              <div class="as-inner">
                <a data-bs-toggle="modal" data-bs-target='{{"#imgModal-"|addstr:forloop.counter}}' style="cursor:pointer">
                  <img  class="card-img-top"
                    src="{{ question.image.url }}" alt="何切る画像"
                    style="width:100%;height:100%;object-fit:contain">
                </a>
              </div>
            </div>
          </div>

          <!-- その他 -->
          <div class="col-md-9">
            <div class="card-body">

              <!-- ブックマーク解除 -->
              <div class="position-relative">
                <div class="position-absolute end-0">

                  <div style="display:inline-flex">
                    <form action="{% url 'nnkr:delete_bookmark' question.id %}" method="post">{% csrf_token %}
                      <button type="submit" class="btn btn-outline-danger shadow mx-1"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay="200" title="ブックマーク解除">
                        <div style="margin:-0.5rem">
                          <i class="bi bi-bookmark-dash" style="font-size: 1.8rem; "></i>
                        </div>
                      </button>
                    </form>
                  </div>

                </div>
              </div>

              <a  class="link-dark-nu" href="{% url 'nnkr:detail' question.id %}">
                <h5 class="card-title" style="display:inline;">{{question.title}}</h5>
              </a>
              <br>
              {{question.description | truncatechars:40}}
              <br>
              <br>

              <div class="d-flex justify-content-between align-items-center">
                <div class="left-aria">
                  <small>投票:</small>{{question.get_sum_of_votes}}
                  <small>コメ:</small>{{question.get_num_of_comments}}
                </div>
                <div class="right-aria">
                  <small class="text-muted"><a class="link-dark-u" href="{% url 'user:detail' question.author.id %}">[{{question.author}}]</a></small>
                  <small class="text-muted">{{question.updated_datetime|date:"y年m月j日H:i"}}</small>
                </div>
              </div>


            </div>
          </div>

        </div>
      </div>
        
    </div>

    {% empty %}
    問題がありません
    {% endfor %}

    </div>
  </div>
  
  <!-- ページング -->
  {% if questions %}
  {% include "nnkr/pagination.html" with page_obj=questions %}
  {% endif %}

</div>
{% endblock %}