{% extends 'nnkr/base.html' %}
{% block content %}

{% include "user/user_subheader.html" with bookmark="True" %}

<div class="pt-3">
  <h3 class="text-center"><b>{{ target_user.username }}さんのブックマーク</b></h3><hr>
</div>

<div class="album pb-5">
  <!-- 問題一覧 -->
  <div class="col-lg-8 offset-lg-2">
  {% include "nnkr/question_cards.html" with questions=questions %}
  
  <!-- ページング -->
  {% if questions %}
  {% include "nnkr/pagination.html" with page_obj=questions %}
  {% endif %}
  </div>
</div>
{% endblock %}